# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.svn/

# Local logs and temp files
dia2/frontend/*.txt
dia2/frontend/*.log

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/coverage/

# Android Studio artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release

# System files
Thumbs.db
desktop.ini
